<!DOCTYPE html>
<html>
<head>
	<title>My Workouts</title>
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<!-- FONT -->
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
			
	{{{ body }}}

</body>
</html>