<!DOCTYPE html>
<html>
<head>
	<title>CAMT Workouts</title>
	<!-- CSS -->
	<link rel="stylesheet" href="../../public/assets/css/reset.css" type="text/css">
	<link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">
	<!-- FONT -->
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
	<div id="container">
		
		<header>
			<img id="headerCheck" src="../../public/assets/images/check.png" alt="check">
		</header>

		<section class="bottomPadding muscleGroups">

			{{{ body }}}
			
		</section>

		<nav id="mainNav">
			<a href="mainAllExercises.handlebars"><img id="navCheck" class="navIcon" src="../../public/assets/images/check.png" alt="check"/></a>
			<a href="mainSavedExercises.handlebars"><img id="navCheck" class="navIcon" src="../../public/assets/images/workoutsIcon.png" alt="weight"/></a>
			<a href="mainProfile.handlebars"><img id="navCheck" class="navIcon" src="../../public/assets/images/profileIcon.png" alt="check"/></a>
		</nav>
	</div>

	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script type="text/javascript">

		$(document).ready(function() {

			// GET ALL WORKOUTS
			$.ajax({
				url: "/api/allExercises",
				method: "GET"
			});

			//hide all drop downs
			$(".dropdown-content").hide();

			//clicking on next workout hides any other and shows clicked one
			$(".dropdown").click(function(){
				$(".dropdown-content").each(
					function(index, item){
						$(item).hide();
					}
				);
				$(this).find(".dropdown-content").show();
			});

			$(".dropdown-content").click(function(){
				$(this).hide();
				return false; // don't keep bubbling
			});

			$(".saveWorkout").click(function(event){
				var savedWorkout = {
					name: event.target.getAttribute("data-name"),
					description: event.target.getAttribute("data-description")
				};

				$.post("/api/savedExercises", savedWorkout);

			});
		});

	</script>
</body>
</html>