<!DOCTYPE html>
<html>
<head>
	<title>My Workouts</title>
	<!-- CSS -->
	<link rel="stylesheet" href="/../../public/assets/css/reset.css" type="text/css">
	<link rel="stylesheet" href="/../../public/assets/css/style.css" type="text/css">
	<!-- FONT -->
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
	<div id="container">
		
		<header>
			<img id="headerCheck" src="/../../public/assets/images/workoutsIcon.png" alt="check">
		</header>

		<section class="bottomPadding">
			
			{{{ body }}}

		<nav id="mainNav">
			<a href="mainAllWorkouts.handlebars"><img id="navCheck" class="navIcon" src="/../../public/assets/images/check.png" alt="check"/></a>
			<a href="mainMyWorkouts.handlebars"><img id="navCheck" class="navIcon" src="/../../public/assets/images/workoutsIcon.png" alt="weight"/></a>
			<a href="mainProfile.handlebars"><img id="navCheck" class="navIcon" src="/../../public/assets/images/profileIcon.png" alt="check"/></a>
		</nav>
		
	</div>

	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>