{{#each allExercises}}
	{{#if muscle_group}}
		<div class="dropdown">
			<div class="singleWorkout">
				<img class="workoutImage" src="../public/assets/images/weightIcon.png" alt="{{muscle_group}}">
				{{muscle_group}}
				
				{{> muscles.muscleInfo}}
			</div>
		</div>
	{{/if}}
{{/each}}

