{{#each exercises}}
	<div class="dropdown">
		<div class="singleWorkout">
			<img class="workoutImage" src="../public/assets/images/weightIcon.png" alt="{{exercises.muscle_group}}">
			{{exercises.muscle_group}}
			
			{{> muscles.muscleInfo}}
		</div>
	</div>
{{/each}}

