{{#each exercises}}
	<div class="singleWorkout">
		<img class="workoutImage" src="../public/assets/images/weightIcon.png" alt="{{this.exercise_name}}">
		{{this.exercise_name}}
		<button class="doneButton">Finish</button>
	</div>
{{/each}}