<div id="container">
		
	<header>
		<img id="headerCheck" src="/assets/images/workoutsIcon.png" alt="check">
	</header>

	<section class="bottomPadding">

		{{#each savedExercises}}
			<div class="singleWorkout">
				<img class="workoutImage" src="/assets/images/weightIcon.png" alt="{{this.dataValues.name}}">
				{{this.dataValues.name}}
				<button data-name="{{this.dataValues.name}}" class="doneButton">Finish</button>
				<p>{{this.dataValues.description}}</p>
			</div>
		{{/each}}

	</section>

	<nav id="mainNav">
        <a href="http://localhost:8080/allExercises"><img id="naveAll" class="navIcon" src="/assets/images/check.png" alt="check"/></a>
        <a href="http://localhost:8080/savedExercises"><img id="navSaved" class="navIcon" src="/assets/images/workoutsIcon.png" alt="weight"/></a>
        <a href="http://localhost:8080/profile"><img id="navProfile" class="navIcon" src="/assets/images/profileIcon.png" alt="check"/></a>
    </nav>
	
</div>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">

	$(document).ready(function() {

		GET ALL WORKOUTS FROM SAVED
		$.ajax({
			url: "/api/savedExercises",
			method: "GET"
		});
		
		$(".doneButton").on("click", function(event) {
	
			var finishedWorkout = {
				name: event.target.getAttribute("data-name")
			};
			$.post("/api/profile", finishedWorkout);

			// DELETE CLICKED WORKOUTS FROM SAVED TABLE AND RELOAD PAGE
			$.ajax({
			    url: '/api/savedExercises' + event.target.getAttribute("data-name"),
			    method: 'DELETE',
			    success: function() {
			        location.reload();
			    }
			});
		});

		//Webapp Logic
		$("#navAll").on("click", function() {
            $.get("/allExercises");
        });

        $("#navSaved").on("click", function() {
            $.get("/profile");
        });

        $("#navProfile").on("click", function() {
            $.get("/profile");
        });
	});

</script>