<div id="dropChest" class="dropdown-content" data-state="hidden">
	<a href="#">{{name}}
		<p>{{description}}</p>
		<button data-name="{{name}}" data-description="{{description}}" class="saveWorkout">Save</button>
	</a>
</div>